.ordersPad {
    width: 90%;
    height: auto;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
}

.orders {
    position: absolute;
    width: 90%;
    left: 5%;
}

.row {
    padding: 10px 0;
    border-bottom: 1px solid #a6a6a6;
    margin: auto;
}

.header {
    border-bottom: 2px solid #999;
    color: #999;
    font-size: 18px;
    font-weight: 600;
}